In [1]:
import numpy as np

In [19]:
#Y=wX+b
#Y dependent variable, X Independent Variable, w weight, and b bias

class Linear_Regression():
  
  def __init__(self,learning_rate,no_of_iterations):
    #Iniating learning rate and no of iterations
    self.learning_rate=learning_rate
    self.no_of_iterations=no_of_iterations

  def fit(self,X,Y):

    #number of training example and number of features
    self.m,self.n=X.shape
    self.w=np.zeros(self.n)
    self.b=0
    self.X=X
    self.Y=Y

    #Implementing Gradient Descent

    for i in range(self.no_of_iterations):
      self.update_weights()

  def update_weights(self,):
    Y_prediction=self.predict(self.X)

    #calculate gradients
    dw=-(2*(self.X.T).dot(self.Y-Y_prediction))/self.m
    db=-2*np.sum(self.Y-Y_prediction)/self.m

    #updating the weights
    self.w=self.w-self.learning_rate*dw
    self.b=self.b-self.learning_rate*db

  def predict(self,X):

    return X.dot(self.w)+self.b

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [21]:
#load data
salary_data=pd.read_csv('salary_data.csv')

In [22]:
salary_data.head(5)

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [23]:
salary_data.tail(5)

    YearsExperience  Salary
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [24]:
salary_data.shape

(30, 2)

In [25]:
salary_data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [26]:
#Split feature and target
X=salary_data.iloc[::-1].values
Y=salary_data.iloc[:,1].values

In [27]:
print(X)

[[1.05000e+01 1.21872e+05]
 [1.03000e+01 1.22391e+05]
 [9.60000e+00 1.12635e+05]
 [9.50000e+00 1.16969e+05]
 [9.00000e+00 1.05582e+05]
 [8.70000e+00 1.09431e+05]
 [8.20000e+00 1.13812e+05]
 [7.90000e+00 1.01302e+05]
 [7.10000e+00 9.82730e+04]
 [6.80000e+00 9.17380e+04]
 [6.00000e+00 9.39400e+04]
 [5.90000e+00 8.13630e+04]
 [5.30000e+00 8.30880e+04]
 [5.10000e+00 6.60290e+04]
 [4.90000e+00 6.79380e+04]
 [4.50000e+00 6.11110e+04]
 [4.10000e+00 5.70810e+04]
 [4.00000e+00 5.69570e+04]
 [4.00000e+00 5.57940e+04]
 [3.90000e+00 6.32180e+04]
 [3.70000e+00 5.71890e+04]
 [3.20000e+00 6.44450e+04]
 [3.20000e+00 5.44450e+04]
 [3.00000e+00 6.01500e+04]
 [2.90000e+00 5.66420e+04]
 [2.20000e+00 3.98910e+04]
 [2.00000e+00 4.35250e+04]
 [1.50000e+00 3.77310e+04]
 [1.30000e+00 4.62050e+04]
 [1.10000e+00 3.93430e+04]]

In [28]:
print(Y)

[ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
  63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
  91738  98273 101302 113812 109431 105582 116969 112635 122391 121872]

In [33]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=2)

In [41]:
model=Linear_Regression(learning_rate=0.2,no_of_iterations=100)

In [42]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in subtract

In [38]:
print('bias = ',model.b)
print('weight = ',model.w[0])

bias =  nan
weight =  nan

In [39]:
test_data_prediction=model.predict(X_test)

In [40]:
print(test_data_prediction)

[nan nan nan nan nan nan nan nan nan nan]