In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('SMSSpamCollection',sep='\t',header=None,names=['label','sms'])

In [4]:
df.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [6]:
from sklearn.preprocessing import LabelBinarizer

X = df['sms'].values
y = df['label'].values

lb = LabelBinarizer()
y = lb.fit_transform(y).ravel()
lb.classes_

array(['ham', 'spam'], dtype='<U4')

In [15]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.6,random_state=0)

print(X_train,'\n')
print(y_train)

['My sister in law, hope you are having a great month. Just saying hey. Abiola'
 'Nite...'
 "Congratulations YOU'VE Won. You're a Winner in our August £1000 Prize Draw. Call 09066660100 NOW. Prize Code 2309."
 ...
 "For ur chance to win a £250 cash every wk TXT: ACTION to 80608. T's&C's www.movietrivia.tv custcare 08712405022, 1x150p/wk"
 'R U &SAM P IN EACHOTHER. IF WE MEET WE CAN GO 2 MY HOUSE'
 'Mm feeling sleepy. today itself i shall get that dear']

[0 0 1 ... 1 0 0]

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')

X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.fit_transform(X_test)

print(X_train_tfidf)

  (0, 512)	0.39445536949159066
  (0, 2286)	0.265664945470579
  (0, 3960)	0.34361989227220724
  (0, 2588)	0.19309968978661446
  (0, 3056)	0.3271147285609956
  (0, 2167)	0.265664945470579
  (0, 2243)	0.31461552117311403
  (0, 2335)	0.25184582731595495
  (0, 2692)	0.39445536949159066
  (0, 4136)	0.35054070142119303
  (1, 3194)	1.0
  (2, 250)	0.3512469740920518
  (2, 1236)	0.26295925437662276
  (2, 153)	0.3512469740920518
  (2, 1637)	0.2503537870559469
  (2, 3614)	0.4296419407705816
  (2, 166)	0.2461775471303515
  (2, 763)	0.3334805657567238
  (2, 5036)	0.2807256627119508
  (2, 5064)	0.219981911399943
  (2, 4855)	0.23115061543355223
  (2, 1304)	0.29050322278004403
  (3, 3487)	0.3858481468574192
  (3, 4809)	0.22728177060171303
  (3, 4950)	0.2999526359075276
  :	:
  (2225, 74)	0.30262988554143644
  (2225, 3079)	0.30262988554143644
  (2225, 433)	0.30262988554143644
  (2225, 541)	0.28732257610510326
  (2225, 235)	0.2764618672198142
  (2225, 1413)	0.24584724834714777
  (2225, 5050)	0.43935846005105095
  (2225, 254)	0.23498653946185868
  (2225, 1109)	0.19351121170390317
  (2225, 5028)	0.1956690830226473
  (2225, 1141)	0.21385966106940335
  (2225, 4725)	0.2291669705057366
  (2225, 5105)	0.18036177358631408
  (2225, 4731)	0.17120447259218183
  (2225, 4809)	0.14743424223136145
  (2226, 1678)	0.6019006751560303
  (2226, 3935)	0.5498550952322219
  (2226, 2351)	0.44121188108994713
  (2226, 2955)	0.3751093540275282
  (2227, 4161)	0.5239630198442217
  (2227, 4045)	0.4187647918178965
  (2227, 3024)	0.44207825535312306
  (2227, 1869)	0.39677184459132536
  (2227, 4631)	0.2974309660352333
  (2227, 1462)	0.3298068266369294

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_tfidf,y_train)
y_pred = model.predict(X_test_tfidf)

for pred,sms in zip(y_pred[:5],X_test[:5]):
  print(f'PRED: {pred} - SMS : {sms}')